[2019-01-30 17:39] krater opened #1 "Nucleo code will not build with current Ubuntu Version"
Component: Documentation/Nucleo Build
Severity: Critical
Issue:
According to the documentation you have to install gcc-arm-none-eabi from stock repositories.
When you do that on Ubuntu 18.10, on every Nucleo build you get the Error message

/home/user/opend-workspace/openD/src/hanfun_lib/inc/hanfun/common.h:20:19: fatal error: cstddef: No such file or directory
 #include <cstddef>

[2019-01-30 17:44] krater opened #2 "Documentation in wrong sequence"
Component: Documentation
Severity: Trivial
Issue:
Documentation is in wrong sequence.
A better sequence would be:
1) Installation of toolchain
2) Debugging
3) Example Apps
4) UDP

This creates a tutorial character of the documentation and helps to not missing installtion steps.

[2019-01-30 17:46] ihspeer opened #3 "Missing software versions to use in documentation"
Component: **Documentation**

Severity: **CRITICAL**

Issue: Nowhere in openD-doc is suggested which versions of required software is needed.
- Ubuntu version (18.04? 18.10? 16.04?)
- Windows / OSX version
- gcc toolchain version
- openocd version
- cmake version
- etc pp.

[2019-01-30 17:55] ihspeer opened #4 "Download Link for DSPG "CmndLib""
Component: **Documentation/DSPG software**
Severity: **SHOWSTOPPER**
Issue: The download link under **Build Applications** --> **DSPG Sources** Step 1 is only leading to a software package containig cmbs folder **NOT** CmndLib. Therefore copying of CmndLib is not possible.

[2019-01-30 22:45] ihspeer opened #5 "Missing copyright owner & year in Apache License File"
Component: **License/Apache**
Severity: TRIVIAL
Issue: Missing copyright owner & year in Apache License File "LICENSE.apache20" in line 189.

[2019-01-30 22:55] krater opened #6 "Missing explaination of PP/FP<->Target Combination"
Component: Documentation
Severity: Critical
Issue:
There is no information in the documentation which combination of Board, Application and Toolchain are working together.
The user has no informationen...
In example:
1) that the Raspberry Pi can only be a FP
2) which dialog-firmware need to be used for which application on dialog hardware
3) that DSPG board with nucleo can only be PP
...

[2019-01-30 22:56] ihspeer opened #7 "DSPG Legacy PP do not register on foreign, legacy, DECT base station"
Component: **DSPG/LEGACY_PP & LEGACY_PP_INTERCOM**
Severity: **SHOWSTOPPER**
Issue: Foreign DECT base station is open for registration. DSPG Portable Part will not register after pressing blue button.

[2019-01-30 23:01] krater opened #8 "Missing configuration guideline for Raspi/Dialog"
Component: Documentation
Severity: Critical
Issue:
Missing information in the documentation that the Raspberry Pi serial0 needs to configured as plain serial device.

[2019-01-30 23:02] ihspeer opened #9 "DSPG software package: cmbs folder does not contain CMakeFile.txt"
Component: **DSPG/cmbs build**
Severity: **SHOWSTOPPER**
Issue: After copying DSPGs cmbs folder to src/opend/dspg, cmake fails because of missing CMakeFile.txt in cmbs folder. Therefore building of DSPG fixed part applications is not possible.

CMake Error at src/opend/dspg/CMakeLists.txt:35 (add_subdirectory):
  The source directory

    /home/user/openD/src/opend/dspg/cmbs

  does not contain a

[2019-01-30 23:06] ihspeer opened #10 "DSPG patch files can not be applied"
Component: **DSPG software patches**
Severity: **SHOWSTOPPER**
Issue: patch files for DSPG cmbs software can not be applied because of missing "test" folder in cmbs directory. Also example commands for applying the patch files (e.g. via git apply ...) are missing.
Therefore building of DSPG fixed part applications is not possible.

[2019-01-30 23:06] krater opened #11 "pp2fpConf_fp_server stops with meaningless error message"
Component: Dialog Legacy FP
Severity: Showstopper
Issue:
After starting legacy DECT FP example app with
./pp2fpConf_fp_server
it stops just with the message 'error occured'.

[2019-01-30 23:14] krater opened #12 "Example app naming leads to confusion"
Component: Documentation / Build
Severity: Trivial
Issue:
Naming of example app binaries does not fit with build target names. Leads to confusion when using documentation of example apps.

[2019-01-30 23:25] krater opened #13 "GDB is not installed as stated in the documentation"
Component: Documentation / Nucleo Debugging
Severity: Showstopper
Issue:
The documentation states that gdb is supplied by the toolchain installed for the Nucleo.
On current Ubuntu versions (18.10, 18.04LTS) when you following the installation instructions of the openD docu, this is not the case.
Debugging and flashing the Nucleo is not possible.

[2019-01-30 23:28] ihspeer opened #14 "UDP_Client_HANFUN crashes when closing registration window"
Component: **UDP_Client_HANFUN**
Severity: **SHOWSTOPPER**
Issue:
In Readme.md --> section "Demonstration Applications" --> subsection "Simple light with the HAN FUN 'Simple Switch' profile" under step 5 is mentioned that the user can close the registration window in the client application by typing "r 0".
If someone types "r 0" the application crashes with a segmentation fault.

[INFO] bool HF::A

[2019-01-30 23:33] krater opened #15 "Missing explaination what HANFUN device x means"
Component: UDP_Client_HANFUN, Documentation
Severity: Trivial
Issue:
In Readme.md --> section "Demonstration Applications" --> subsection "Simple light with the HAN FUN 'Simple Switch' profile" under step 2 is mentioned that the user can open the registration window for registration a device x.
There is nowhere mentioned what is meaned with x. Is it a string, a number or just x?

[2019-01-30 23:38] ihspeer opened #16 "UDP_Client_HANFUN crashes when deregistering a device"
Component: **UDP_Client_HANFUN**
Severity: **SHOWSTOPPER**
Issue:
In Readme.md --> section "Demonstration Applications" --> subsection "Simple switch with the HAN FUN 'On/Off' profile" under step 7 is mentioned that the user can deregister a device with the client demo application by typing "d _x_" where _x_ is a device.
If someone types "d 0" (assuming there's no registered device) the applicatio

[2019-01-30 23:41] krater opened #17 "Dialog HANFUN FP hangs on initialization"
Component: fp_hanfun_server_rpi / Dialog
Severity: Showstopper
Issue:
Starting fp_hanfun_server_rpi leads to the output:

Initialization of primitives: SUCCESS
[DEBUG] BASE RFPI: 00:00:00:00:00
ULE INIT
Dect Driver: Reset
Sending API_FP_MM_START_PROTOCOL_REQ  !!!

 Setting Access code

and stops the activity.
As suggested from Patrick Barels trying to start with
./fp_hanfun_server_rpi /dev/serial0

[2019-01-30 23:43] ihspeer opened #18 "exampleApps aren't providing "usage help""
Component: **Raspberry Pi exampleApps**
Severity: **SHOWSTOPPER**
Issue: When running one of the fixed part exampleApps on Raspberry Pi commandline, there's no usage help printing when commandline arguments are missing. User can not determine what amount and kind of arguments must be used, without searching the correct lines in source code.

[2019-01-30 23:56] krater opened #19 "Dialog Legacy PP registration isn't working"
Component: Legacy PP / Dialog
Severity: Showstopper
Issue:
Nothing happens when pressing blue button on PP device. No registration neither on foreign legacy base station, nor on Dialog legacy FP successful.

[2019-01-30 23:59] krater opened #20 "Dialog Legacy FP isn't even transmitting dummy bearer"
Component: Legacy FP / Dialog
Severity: Showstopper
Issue:
Starting FP example apps for Dialog like described in the documentation will not lead to a DECT module transmitting a dummy bearer.
Adding command line arguments for portnumber aren't changing the result.

[2019-01-31 14:47] djaeckle commented on #20
Hi krater,

could you please provide the steps you are performing and the error description you get? Which hardware are you using?

[2019-01-31 14:49] djaeckle commented on #19
Hi krater,

could you please provide the steps you perform? Which hardware are you using? Could you please provide some more information on the issue itself? Are you opening the registration window?

[2019-01-31 14:54] djaeckle commented on #17
Hi krater,

we will start to reproduce the issue and will come back to you soon.

[2019-01-31 14:55] djaeckle commented on #16
Hi ihspeer,

we will reproduce the issue and will come back to you soon.

[2019-01-31 14:56] krater commented on #20
Hi,

I used Ubuntu 18.10 as build platform, Raspberry Pi 3 Model B+, MMI and DECT-Module from Dialog with Legacy FP firmware.
I followed the instructions of 'Basic call' in the documentation.
Additionally I added a '3000' as portnumber as parameter to both applications to get the communication between the apps on the Raspi working.

I tried to find a new bearer with the D&A DECT Sniffer from the t

[2019-01-31 14:57] djaeckle commented on #15
Hi krater,

thanks for the report. We will apply a more detailed explanation.

[2019-01-31 15:00] djaeckle commented on #14
Hi ihspeer,

thanks for the report. Have you registered a device in the window? Or have you just opened and closed the window?

[2019-01-31 15:02] djaeckle commented on #13
Hi krater,

thanks for the report. We will double check it and will provide an update of the requirements.

[2019-01-31 15:04] djaeckle commented on #12
Hi krater,

thanks for the hint. We will review the names and double check if they are meaningful.

[2019-01-31 15:06] krater commented on #19
I used Ubuntu 18.10 as build platform, Nucleo-L476RG, MMI and DECT-Module from Dialog with Legacy PP firmware.

I done 2 tests with 2 different FP's.
As foreign base station I used the SGM 850 from Siedle with PIN 0000.
As openD base station I used the Dialog Hardware with legacy FP firmware and openD legacy FP example app used as described in the documentation.
On both tries I opened the registra

[2019-01-31 15:09] krater commented on #14
The windows was just opened and closed. There was no registration possible caused by other bugs.
Looks like the problem is in the parameter parsing.

[2019-01-31 15:11] djaeckle commented on #10
Hi ihspeer,

we will repeat the procedure on our side and see how we could provide a simple example on applying the patches.

[2019-01-31 15:11] krater commented on #13
Because the stock compiler delivered with current ubuntu versions will not build your nucleo stuff, it's possible that the gdb is coming with another compiler you need to install anyway.

[2019-01-31 15:13] djaeckle commented on #9
Hi ihspeer,

thanks for the report. We will review the package and provide a CMakefile in this case.

[2019-01-31 15:15] djaeckle commented on #8
Hi krater,

thanks for the report. We will review it and will come back to you soon.

[2019-01-31 15:21] djaeckle commented on #11
Hi krater,

thanks for the report. Which gcc version are you using?

[2019-01-31 15:23] djaeckle commented on #18
Hi ihspeer,

thanks for the report. We will provide more detailed information here.

[2019-01-31 15:24] krater commented on #11
I use
arm-linux-gnueabihf-gcc (Ubuntu 8.2.0-7ubuntu1) 8.2.0
Copyright (C) 2018 Free Software Foundation, Inc.
This is free software; see the source for copying conditions.  There is NO
warranty; not even for MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.

But its a printf in your example application. I don't think that GCC has anything to do with that.

The component I wrote in the first mes

[2019-01-31 15:24] djaeckle commented on #7
Hi ihspeer,

thanks for the report. Could you provide the output of the device?

[2019-01-31 15:26] krater commented on #7
How can we get output from the device?

[2019-01-31 15:28] djaeckle commented on #6
Hi krater,

thanks for the report.

1 + 3: We have here a section in the documentation, namely 'Hardware Platforms'. There are two tables containing this information available.
2: Could you specify this a little bit more?

[2019-01-31 15:30] djaeckle commented on #5
Hi ihspeer,

thanks for the info. Indeed, this is an issue. We will fix it asap.

[2019-01-31 15:31] djaeckle commented on #4
Hi ihspeer,

thanks for the report. We will get in contact with DSPG regarding this issue,.

[2019-01-31 15:33] djaeckle commented on #3
Hi ihspeer,

thanks for the report. We will provide a more detailed information in the documentation.

[2019-01-31 15:34] djaeckle commented on #2
Hi krater,

thanks for the information. We will discuss this. The motivation behind the sequence is that a reader gets information about the features at the beginning of the guide.

[2019-01-31 15:36] djaeckle commented on #1
Hi krater,

thanks for the report. We will provide more information about the requirements. This is related to issue #3.

Edit: this issue is also related to #13

[2019-02-01 07:54] krater commented on #6
Oh ok, now I see there is really a table that states that FP is only working with Raspi and PP only with nucleo. I overlooked this.

[2019-02-01 07:54] #6 closed, assigned to nobody

[2019-02-01 08:00] krater commented on #2
I understand. Here maybee a list of features as intruduction could help. The description of usage of the demo apps seems too much to read as overview of the features.

[2019-02-01 09:37] mvergadi commented on #1
For cross compilers, it is always better that the official bundle of the toolchain is used, instead of the linux distribution's one . This should provide exactly the same set of tools across every platform.
It can be obtained from [ARM Developer Site](https://developer.arm.com/open-source/gnu-toolchain/gnu-rm/downloads).

I have been able to build this release with _gcc-arm-none-eabi-7-2018-q2-upd

[2019-02-01 09:49] #5 closed, assigned to nobody

[2019-02-01 09:53] djaeckle commented on #1
Hi mvergadi,

thanks for the input! This is a good proposal.

[2019-02-06 16:17] djaeckle commented on #1
Hi all,

we have updated the readme file and applied all important versions for the build system. I will close the issue. Please open a new one if something has not been covered.

[2019-02-06 16:17] #1 closed, assigned to nobody

[2019-02-06 16:17] djaeckle commented on #3
Hi ihspeer,

please refer to #1.

[2019-02-06 16:17] #3 closed, assigned to nobody

[2019-02-06 16:18] djaeckle commented on #13
Hi krater,

please refer to #1.

[2019-02-06 16:18] #13 closed, assigned to nobody

[2019-02-07 09:02] #8 closed, assigned to p-weber

[2019-02-07 11:40] p-weber commented on #20
Hi krater,

a DECT sniffer is unfortunately not available to me. However, I can successfully register a foreign portable part (e.g. Gigaset C38H) to the fixed part (Dialog).
Can you please compare the debug messages with following. If you activate the registration window at the legacy UDP application, the following debug messages should appear at the console output of the legacy UDP server applica

[2019-02-08 13:25] p-weber commented on #17
Fixed by f7c65ab8ac94aaafd5984ad78af35092f018ce2b

[2019-02-08 13:25] #17 closed, assigned to nobody

[2019-02-08 13:26] #16 closed, assigned to nobody

[2019-02-08 13:27] #14 closed, assigned to nobody

[2019-02-11 13:11] p-weber commented on #19
On our site, the registration of a Dialog legacy PP to the Dialog legacy FP works. But we have noticed some stability issues with the initialization of the Dialog PP hardware. It may happen that the Hardware doesn't respond to a HDLC message. Then you have to reset the hardware or unplug and plug it in again.

[2019-02-11 13:20] barelsky commented on #19
Could you indicate to what message the HW does not respond?

Patrick

From: Patrick Weber <notifications@github.com>
Sent: Monday, February 11, 2019 2:11 PM
To: opend-connect/openD <openD@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [opend-connect/openD] Dialog Legacy PP registration isn't working (#19)

On our site, the registration of a Dialog legacy PP to the

[2019-02-11 13:49] barelsky opened #23 "Mute option on FP application shown twice"
When applying the FP application the option list show twice the mute option. The "m" does not seem to exist, while "z" seems to be the valid option to choose mute

[2019-02-11 13:51] p-weber commented on #19
Sorry, it may happen that the hardware doesn't respond to **any** HDLC message.
I edit the previous message accordingly.

[2019-02-11 13:51] barelsky opened #24 "Need a second CALL setup to get audio"
After having having established a CALL, no audio is present. getting back (from PP side) to STANDBY and setting up the CALL again (from PP side) audio is present

[2019-02-11 13:53] barelsky opened #25 ""i" and "o" option indicate "set audio failed""
On FP legacy side the options "i" and "o"produce the commnet "set audio failed"

[2019-02-11 13:54] barelsky opened #26 "releasing a call from FP side does not work"
When a call is released on FP side by "t 1" the FP application SW seems to get stuck and reset of the processes running on the FP is required

[2019-02-11 14:00] barelsky commented on #19
Ok, thanks for explaining, so you do see the HDLC message passing the UART towards the module, or have some logging that the HDLC message is sent and then apparently no message is sent back? Could you show may be the logging?

[2019-02-11 14:06] p-weber commented on #26
Which branch or version do you use?
I have just pushed to the development branch a version that should solve some stability problems of the legacy side.

[2019-02-11 14:10] barelsky commented on #26
Not the latest, I only used the very first release (as that was available so far)

[2019-02-11 14:13] p-weber commented on #19
It's during the initialization phase of the PP when the following message is sent.
`0x10 0x00 0x01 0xc8 0xc8`

[2019-02-11 14:33] p-weber commented on #25
Yes, that's known. Unfortunately we can't support this functionality at the Dialog legacy FP with the current version. Because, the Dialog API at the FP side doesn't support this yet.

[2019-02-11 14:33] barelsky commented on #19
Ok, could you indicate where this sequence is reported/seen?

[2019-02-11 14:40] p-weber commented on #26
Please use the latest version on the development branch.
I assume that this is already solved. Therefore I will close this issue. Should the problem still exist please open this issue again.

[2019-02-11 14:40] #26 closed, assigned to p-weber

[2019-02-11 14:42] barelsky commented on #26
agreed, I will test this later on, thx

[2019-02-11 14:42] barelsky commented on #25
Then I would propose to remove these options from the menu -> minor issue though

[2019-02-11 14:57] p-weber commented on #24
I guess that this was an old version, too. Please use the latest version on the development branch.
I assume that this is also already solved. Therefore I will close this issue. Should the problem still exist please open this issue again.

[2019-02-11 14:57] #24 closed, assigned to p-weber

[2019-02-11 15:00] barelsky commented on #24
Ok sounds good, thx

[2019-02-11 15:05] p-weber commented on #19
As you ask, that's the logging. During initialization, this sequence is sent from the Nucleo to the Dialog PP module to setup the connection. But the module doesn't respond.

[2019-02-12 10:02] #15 closed, assigned to p-weber

[2019-02-12 10:10] #10 closed, assigned to p-weber

[2019-02-12 10:10] #9 closed, assigned to p-weber

[2019-02-12 10:11] #4 closed, assigned to p-weber

[2019-02-12 16:34] djaeckle commented on #20
Hi all,

as we don't have feedback for now, we need to shift this issue to the next milestone.

[2019-02-12 18:05] #11 closed, assigned to nobody

[2019-02-12 18:05] #12 closed, assigned to nobody

[2019-02-12 18:05] #23 closed, assigned to p-weber

[2019-02-13 14:52] barelsky opened #27 "PP sensor application not present in release"
To be able to implement a sensor the HANFUN switch profile should be implemented for PP HF side

[2019-02-13 14:53] barelsky opened #28 "PCM interface on FP missing"
The audio on FP should also have the option to be send as PCM data to the host

[2019-02-13 14:54] barelsky commented on #28
This applies to the FP legacy application

[2019-02-14 10:33] djaeckle commented on #27
Hi barelsky,

thanks for the report. We are working on it and have already integrated it partly. We think that we can provide an update soon. Thus, i will set this issue to the next milestone.

[2019-02-14 10:34] djaeckle commented on #28
Hi barelsky,

thanks for the report. Currently, we are verifying the issue and will come back to you soon. I will set this issue to the upcomig milestone.

[2019-02-15 00:04] krater commented on #11
Sorry, but
Error occurred - Fail to initialize!
Error occurred - Argument is invalid!
is nearby as meaningless as the message before the patch. The user has no clou whats going wrong and what can he do to get it to work.

[2019-02-15 00:09] krater opened #29 "former pp2fpConf_fp_server stops still with meaningless error message"
Sorry, but
Error occurred - Fail to initialize!
Error occurred - Argument is invalid!
is nearby as meaningless as the message before the patch. The user has no clou whats going wrong and what can he do to get it to work.

The errormessage should explain that arguments are needet and which arguments that can be. And, when really a wrong argument is in the commandline, it could say that its invalid.

[2019-02-15 12:06] djaeckle commented on #20
Hi krater,

were you been able to test this issue again? Any news?

[2019-02-15 12:06] djaeckle commented on #19
Hi barelsky,

any news on this issue?

[2019-02-15 12:07] djaeckle commented on #7
Hi ihspeer,

have you tested this issue again with the latest develop branch? Any news on this?

[2019-02-15 12:42] barelsky commented on #19
Reproduced and understood the sequence, that's clear and correct. It is very likely that the Nucleo and CVM stack are out of sync, and the stack might be in a state that it cannot receive the message from Nucleo. We have tried a quick and dirty fix on this by sending the sequency again after a time and solved it, but brought other non-understood issues. Basic target is to get a defined state when

[2019-02-15 14:55] p-weber commented on #28
The PCM implementation to send audio via PCM data is already available at the current state of openD. However, there are currently problems in combination with the Raspberry Pi. I'm in contact with Dialog to analyze and fix the issue.

[2019-02-16 14:18] #27 closed

[2019-02-16 14:24] p-weber commented on #27
I added the integration of the HAN-FUN profiles "simple switch" (PP) and "simple light" (FP) for @HeikoBerger with the commit c5fc450.

[2019-02-17 03:59] krater opened #30 "registrationElement.uid is overwritten when registering second device"
Component: Stackforce part of HAN-FUN Api
Severity: **CRITICAL**
Issue:
Element uid of hanfunApiDevMgmt_registrationElement_t is overwritten when a seconde HAN-FUN device is registered.

[2019-02-18 09:55] p-weber commented on #30
In order to analyze this issue in detail, I need more information about your setup and the steps you have performed.
(1) Which hardware do you use (DSPG or Dialog)?
(2) Which application do you use on the PP side?
(3) What's your openD version?
(4) Please also provide me the steps you are performing until the issue occurs.

[2019-02-18 17:25] krater commented on #30
1) DSPG
2) fp_hanfun_client/fp_hanfun_server
3) 1.0.2
4) See logoutputs here:
************************************************
  STACKFORCE openD HANFUN Demo Application 1.0
************************************************

d <x>         : De-register the device x.
lr            : List registered devices.
off <x> 1     : Send an OFF command to device x.
on <x> 1      : Send an ON command to device

[2019-02-19 04:50] krater opened #31 "HAN FUN Client prints 'HAN-FUN Currently registered Devices (x):' for every device"
See comments and information on Ticket #30 for more details.

Command 'lr' prints
HAN-FUN  Currently registered Devices (3):
    1 | dect uid: 219519210233
HAN-FUN  Currently registered Devices (3):
    2 | dect uid: 195192102330
HAN-FUN  Currently registered Devices (3):
    3 | dect uid: 1921023300

instead of
HAN-FUN  Currently registered Devices (3):
    1 | dect uid: 219519210233
    2 | dect

[2019-02-21 13:09] krater opened #32 "No second call on a GAP phone in FP_LEGACY"
Component: FP_LEGACY_SERVER, FP_LEGACY_CLIENT
Severity: **CRITICAL**
Issue:
Tested on DSPG, 1.0.2
1) Start Server/Client, go to registration mode
2) Register a GAP phone
3) Start a call
4) End the call on the phone
5) Start a call again
-> No Call on the phone

[2019-02-21 15:37] p-weber commented on #30
The overwriting of the UID is fixed by bbf6d38.

[2019-02-21 15:37] #30 closed, assigned to p-weber

[2019-02-21 15:50] p-weber commented on #7
I closed this issue because a non-functional hardware (module firmware) was used. Please note, that different hardware (module firmware) is needed for DECT ULE/HANFUN and DECT/Legacy on DSPG PP side.
Feel free to create a new issue if there are still problems with it.

[2019-02-21 15:50] #7 closed, assigned to p-weber

[2019-02-22 08:06] p-weber commented on #32
Fixed with commit b0e48c9

[2019-02-22 08:06] #32 closed, assigned to p-weber

[2019-03-04 13:03] p-weber opened #33 "LegacyDECT: Make it possible to change the default key"
Make it possible to change the default key of 0000 for legacy applications.

[2019-03-04 13:05] p-weber opened #34 "LegacyDECT: Fix deregistration of all devices at DSPG FP side"
The function to deregister all devices at DSPG FP side is not working.

[2019-03-04 13:07] p-weber commented on #34
fixed by ff5bbbe57b86f32e78b907c4ed7af519772860ec

[2019-03-04 13:09] p-weber commented on #33
Functionality at DSPG FP added by:
842c809088b9c16d079563fdc1a5b9cde20569f1
b504017f3e0e570e750c6d7e9e75caeecfd1103f
81e4590c91c43bbe4ea7a7016569aff90eec7f6a

[2019-03-05 16:08] p-weber commented on #33
Functionality at DSPG PP added by:
0433522d5520ffe80ac76a90efc005d4189dc532
95978f5b9dae1f7e2c352e5a64e39ed1ab6fcaf5

[2019-03-06 15:26] p-weber opened #35 "Add callback when a timeout of the registration window occurs"
Add a indication when a timeout in the registration window of FP HANFUN and legacy occurs.

[2019-03-06 15:43] barelsky opened #36 "Dialog HF: registrations are lost after restarting FP processes"
When the processes that run on the RPI (for Dialog HW) are restarted the regsitration of the PP is lost. This was tested on v1.0.3

[2019-03-06 15:45] barelsky opened #37 "Dialog: HF Switch push button events that come too fast are lost"
When pushing SW1 on Dialog HW events may be missed. It looks like the time between 2 events should be rather high.

[2019-03-06 15:49] barelsky opened #38 "Dialog HW: When resetting the Nucleo it will not lock again (HANFUN)"
Tested on HF Light and switch Release V1.0.3. Resetting the PP (Nucleo) part. The PP is not able to lock again, while regstration is still indicated to be valid on FP.

[2019-03-06 15:51] barelsky opened #39 "RPI server process startup needs double start up (Dialog, HF)"
Tested on v1.0.3. When starting up the RPI from reset, the server process seems to get stalled, killing the porcess and restarting makes the server application run fine. SO a double startup is needed

[2019-03-06 15:52] barelsky opened #40 "For HF Switch (Dialog) no LED is toggled at FP"
The transcript shows that a LEd will be toggled, and the event looks fine, but physically the LEd status is not changed (on FP) tested on v1.0.3.

[2019-03-06 15:55] barelsky opened #41 "When have regsitered a HF device 2 IDs are lister with "lr" (Dialog)"
the "lr" command on FP shows multiple IDs for regsitered parts, not sure how to interprete this?
![image](https://user-images.githubusercontent.com/47209676/53894570-9beb2e80-4030-11e9-9dd6-8d707202f8ac.png)

[2019-03-06 16:44] p-weber commented on #33
Merged into develop branch with 4ac62f91ffe75691ebc8f23f189d9dfe70f01fc4

[2019-03-06 16:45] p-weber commented on #34
Merged into develop branch with 4ac62f91ffe75691ebc8f23f189d9dfe70f01fc4

[2019-03-06 16:46] p-weber commented on #35
Fixed at HANFUN by 97832ebb616c1ad19c3000292c5715e6e9e95bb9 and at LEGACY by 2d86d0bebfbe7366a089dc04b5455f4c5fc96fb8

[2019-03-06 16:46] #35 closed, assigned to p-weber

[2019-03-07 09:41] p-weber commented on #39
I think that this is the similar issue as on the PP/Nucleo side #19. Does it work if you also reset the DECT module? Or does it work better if you connect the module via USB?

[2019-03-07 11:25] #41 closed, assigned to p-weber

[2019-03-12 12:41] barelsky commented on #39
Doesnt look as the same isseu to me.
this happens after reboot of RPI
![image](https://user-images.githubusercontent.com/47209676/54200707-46999c00-44cc-11e9-933e-c3c027c956b2.png)
then killing it:then killing it:
![image](https://user-images.githubusercontent.com/47209676/54200787-70eb5980-44cc-11e9-802e-e7b4e9ffbbbe.png)
and restarting again:
![image](https://user-images.githubusercontent.com/47

[2019-03-12 12:42] barelsky commented on #39
externally via USb or via UART give same result

[2019-03-12 12:43] barelsky commented on #38
in my view this is a bug: registartions hsould not get lost

[2019-03-12 12:43] barelsky commented on #36
In my view this is a bug: registartions should not get lost

[2019-03-13 15:10] p-weber opened #42 "LegacyDECT: Add the functionality to delete single PPs"
Add the functionality to delete single PPs at legacy FP side. The PP should be determined with the handset id.

[2019-03-13 15:13] p-weber opened #43 "LegacyDECT: Add the functionality to cancel a call"
Add the functionality to cancel a call before it has been set up (FP legacy).

[2019-03-13 15:24] barelsky opened #44 "FP Legacy: Menu options shown twice"
When the FP legacy client application is start up the menu showup is somewhat doubled. Same entries are presented twice:
![image](https://user-images.githubusercontent.com/47209676/54291150-71f3b800-45ac-11e9-8f24-1ac4c08fadc1.png)

[2019-03-13 15:32] barelsky opened #45 "Fp legacy client and server conflict"
This has been tested on release 1.0.4. FP legacy, Dialog HW. This is the basic call example.
For this case the PP has already been registered to the FP. If the client and server processess have to be restarted, while the PP is just kept alive the PP will normally lock on to the FP, which is ok.
Nevertheless if the Server process is started before the client process is started (which is normally th

[2019-03-13 15:36] barelsky opened #46 "Basic call example (legacy DECT) - second call setup from FP fails"
When setting up a successfull call, either iniated by FP or PP, releasing it from either FP or PP everything works fine. Hwoever after a release of the first (or next) successfull caal a next setup intitaed from FP (so by "r 1") fails.
This has been tested on release 1.0.4, Dialog HW. Basic call example.

[2019-03-13 16:06] p-weber commented on #44
It looks like server and client are running in one process. Please, can you show me the command how you start the program. Or did you change the example?
br Patrick

[2019-03-13 16:15] barelsky commented on #44
I see, it might be the case whta you suggest. I run it as follows:
./fp_legacy_server_rpi /dev/serial0 & (and the ENTER)
./fp_legacy_client_rpi
both from the same terminal

[2019-03-13 16:25] p-weber commented on #44
Yes, with the ampersand at the end of the first command. The process will run at the background but you can still see the standard output from this process. And then you start the client application. That's the reason why you see the output of both processes mixed.

[2019-03-13 16:30] barelsky commented on #44
ok, guess I minor issue then. Is it wrong to run the server at the background?
And is it logical to have a similar menu structure for both. Are the items mentioned doing exactly the same thing or is there a difference operating from server or client.

[2019-03-14 08:56] p-weber commented on #45
I'm sorry, but I'm not sure if I understand the problem correctly. The problem occurs when the server is started before the client. But, it only occurs if a PP was previously registered. Is it correct that way?
Can you please show me the console output for this case?

[2019-03-14 09:28] p-weber commented on #46
I tested it on our site. I could not find any problem here. I can release a call and setup the call from FP to the same PP again without any problems.
What do you mean by "or next" successful call? A second call from the PP? So, the problem occurs only at a second call from the FP?
br Patrick

[2019-03-14 09:42] barelsky commented on #45
Yes if the PP has not been registered yet/before it will also not lock successfully
FP is hard-reset(power off)  while PP is normally on and server process is started up.
Here you can see the server logging:
(>./fp_legacy_server_rpi /dev/serial0 &)
![image](https://user-images.githubusercontent.com/47209676/54346504-77511100-4645-11e9-8939-8dd1a791e006.png)
Now the client application is started up

[2019-03-14 10:04] barelsky commented on #46
Yes the problem occurs after one or more successfull call setup and releases (PP controlled) and then start a next call from FP by "r 1". It looks like the call is setup correctly see logging below:
![image](https://user-images.githubusercontent.com/47209676/54348242-eaa85200-4648-11e9-9ac5-d0c9c4226c1a.png)
..but after this it is uncontrollable

[2019-03-15 15:51] p-weber opened #47 "HANFUN: Add the UID to the profile indication of simpleLight (HANFUN)"
The UID at the simpleLight indication is missing. Therefore add the UID to that indication.

[2019-03-15 15:53] p-weber commented on #47
fixed by 7db913f1ee6c97c9f3e52640b28f6025d6f5c92d
d533dbf12a883ccef0f9e01fac8d9ccf1841d22f
9a0d61237b302b65f301f5505ef23d7cbcacc16e

[2019-03-27 13:09] p-weber opened #48 "Add HAN-FUN project as GIT submodule"
Add the HAN-FUN GitHub project (https://github.com/ULE-Alliance/hanfun) as a GIT submodule.

[2019-03-27 13:11] p-weber commented on #48
Related commits are:
fb66c7d59745e8e83aa66c57e3b59c2b55302223
67955e5e03588710c1c591bd17b52ed3dc3abad7
10e13fba3b15fd0b89a60772c0d2487de80770ac
4747fddab67a228bf84ca79c2e73b488848d2274
7b310d54c16487311a3c2a076c8587f12ae58513

[2019-03-27 13:13] #48 closed, assigned to p-weber

[2019-03-29 08:19] p-weber commented on #46
I can confirm this can be reproduced at our side with the exact call order below.
**Call setup PP -> FP, call release PP -> FP, call setup FP -> PP (error)**
I guess, by the combination of two examples from Dialog we use here two different variables of "ConEi".
It's fixed by 0e80ce5

[2019-03-29 08:19] #46 closed, assigned to p-weber

[2019-04-04 14:29] p-weber commented on #45
Fixed by:
b28de9199a979833a6143b76f0b9827a9a984de2
f6aff14f437001a32fcab5c82b8a808646409b3e
a65d19010d34f8f3e38108828e5d77ee20e4d299

[2019-04-08 07:02] #45 closed, assigned to p-weber

[2019-04-12 05:49] krater opened #49 "HAN FUN FP is not aware of registered devices"
Description: At every start of a application, all HANFUN devices need to reregistered on the FP to be accessible. The registered devices are stored in the DECT module and openD should be aware of which HAN FUN devices are registered.
This leads to the following problems:
1) Everytime a application is started, all devices need to be reregistered, it's impossible for the user to build real world app

[2019-04-12 07:00] krater opened #50 "HANFUN: Messages from actors and sensors cannot differentiated"
When on the FP more than one HAN FUN device is registered, it's not possible for the application that is using the API to differentiate between acknowledge messages from a actor and action messages from the sensor. It's too not possible to differentiate from which sensor or actor a message is received.

Detected in: V1.0.3
Tested with DSPG, on Dialog we received none of the messages correct(tbd:cr

[2019-04-12 07:13] krater opened #51 "HANFUN: No feedback when HAN FUN device is registered"
When the HAN FUN FP is in registration mode and a HAN FUN device will be new registered, the application has no chance to get the information, that the registration mode is ended and a device is registered.
The only way for the application is polling the device list for a new device.
If the user unintentionally is registering a still known device, the application will not find a new device. This l

[2019-04-15 08:45] krater commented on #35
Reopen Ticket for visibility, because not tested yet. Should be fixed in 1.0.4.

[2019-04-15 08:50] krater opened #52 "HANFUN: Add callback when a timeout of the registration window occurs"
See title and #35, should be fixed in 1.0.4.
Reopened only for visibility, because not tested yet.
Please mark ticket as fixed, but still let it open.

[2019-04-15 08:52] krater opened #53 "LegacyDECT: Add callback when a timeout of the registration window occurs"
See title and #35 , should be fixed in 1.0.4.
Reopened only for visibility, because not tested yet.
Please mark ticket as fixed, but still let it open.

[2019-04-15 08:56] krater opened #54 "LegacyDECT: Pin is not changeble, everytime 0000"
The PIN for the legacy registration is everytime 0000. There should be a function to change the PIN.

This should be fixed in 1.0.4. Ticket only opened for visibility for test phase. Please mark as fixed.

[2019-04-15 09:05] krater commented on #36
This bug can be closed, it is a informationless copy of #49

[2019-04-15 09:13] krater opened #55 "HANFUN: openD is limited to 20 HAN FUN devices"
See title.
This should be fixed in 1.0.4.
Ticket only opened for visibility for test phase.
Please mark as fixed.

[2019-04-15 09:36] krater opened #56 "HANFUN: There are only Profiles for SimpleLight and SimpleSwitch"
Only the SimpleLight and SimpleSwitch profile are implemented. All other HAN FUN profiles are missing.

Detected in 1.0.3 on Dialog and DSPG.

[2019-04-15 09:39] krater opened #57 "LegacyDECT: Deregister one DECT device not possible"
When a DECT device is registered, there is no possibility to deregister just this one device. You just need to deregister all devices.
A function for deregister only one device is missing.

Detected in 1.0.3. DSPG/Dialog.

[2019-04-15 09:53] krater opened #58 "No error indication when serial port can't be opened"
The application that uses the openD API is getting no information when the serial port can't be opened by the API. The application is stuck and can't inform the user about the problem.

Detected on 1.0.3, Dialog & DSPG

[2019-04-15 09:53] krater opened #59 "No error indication when module isn'"

[2019-04-15 09:57] krater opened #60 "No error indication when anything on serial port is going wrong"
When a wrong serial port is choosed, or the module is just not answering, the API is blocking and gives no feedback to the user application. There should be a error handling on wrong data received on a serial port. Additionally there should be a timeout when the DECT module is not answering requests.

Detected in 1.0.3, DSPG & Dialog

[2019-04-15 10:03] krater opened #61 "HANFUN: Displayed UID is wrong"
The displayed UID for a device is neither the hexadecimal nor the dezimal equivalent of the real UDI of the device.

Detected on 1.0.3, DSPG & Dialog

[2019-04-15 10:05] krater opened #62 "HANFUN: Displayed UID is different for DSPG and Dialog FP"
When the same HANFUN Device(PP) is registered on a Dialog FP and a DSPG FP, it shows different UID's. Because the UID is stored in the PP, this should not happen.

Detected in 1.0.3, Dialog/DSPG

[2019-04-15 10:10] krater opened #63 "HANFUN: Dialog FP doesn't receives any events"
On the Dialog FP, no events from sensors or actors(acknowledges) are releayed to the application. There are debug messages that show that the events are received, but the application gets no callback.

Detected in 1.0.3, Dialog

[2019-04-15 10:19] krater opened #64 "LegacyDECT: Deregister all devices does not work"
Way to reproduce the problems:
1) Register 5 DECT PP's on a DSPG FP
2) Call command 'Delete all devices'

After restart it's not possible to register a new PP that was not in the list of the 5 PP's before.
When registering one of the 5 first DECT PP's, all PP's are working again.

This problem is little bit similaer to #49

Detected on 1.0.3, DSPG

[2019-04-15 10:24] krater opened #65 "LegacyDECT: FP can't hang up pending calls"
Way to reproduce:
1) Register a DECT PP on DSPG FP
2) Start a call to the PP
3) Don't answer on the DECT PP
4) Try to hang up the call on the FP

-> Call is not stopped, no other actions possible

Detected in 1.0.3, DSPG, Dialog should be the same
We used a normal DECT handset to test this.

[2019-04-15 10:29] krater opened #66 "HANFUN: SimpleSwitch Registration fails on Dialog"
When using a Dialog PP with the SimpleSwitch(Sensor) profile on the Nucleo, the registration of the PP fails on Dialog and DSPG FP.
Application hangs on registration, debug messages are showing 'registration failed'.

Detected in 1.0.2, 1.0.3, Dialog PP

[2019-04-18 12:38] krater commented on #66
Stackforce don't see this problem on the own hardware, we will test this again.

[2019-04-18 12:41] krater commented on #43
Way to reproduce:

    Register a DECT PP on DSPG FP
    Start a call to the PP
    Don't answer on the DECT PP
    Try to hang up the call on the FP

-> Call is not stopped, no other actions possible

Detected in 1.0.3, DSPG, Dialog should be the same
We used a normal DECT handset to test this.

[2019-04-18 12:41] krater commented on #43
Way to reproduce:
1) Register a DECT PP on DSPG FP
2) Start a call to the PP
3) Don't answer on the DECT PP
4) Try to hang up the call on the FP

-> Call is not stopped, no other actions possible

Detected in 1.0.3, DSPG, Dialog should be the same
We used a normal DECT handset to test this.

[2019-04-18 12:44] #65 closed, assigned to nobody

[2019-04-18 12:44] krater commented on #34
Way to reproduce the problems:
1) Register 5 DECT PP's on a DSPG FP
2) Call command 'Delete all devices'

After restart it's not possible to register a new PP that was not in the list of the 5 PP's before.
When registering one of the 5 first DECT PP's, all PP's are working again.

This problem is little bit similaer to #49

Detected on 1.0.3, DSPG

[2019-04-18 12:45] #64 closed, assigned to nobody

[2019-04-18 12:52] krater commented on #62
Related to #30

[2019-04-18 12:52] krater commented on #61
Related to #30

[2019-04-18 12:54] #59 closed, assigned to nobody

[2019-04-18 12:55] krater commented on #42
When a DECT device is registered, there is no possibility to deregister just this one device. You just need to deregister all devices.
A function for deregister only one device is missing.

Detected in 1.0.3. DSPG/Dialog.

[2019-04-18 12:56] #57 closed, assigned to nobody

[2019-04-18 12:56] krater commented on #57
Copy of #42

[2019-04-18 12:57] krater commented on #54
Copy of #33

[2019-04-18 12:57] #54 closed, assigned to nobody

[2019-04-18 12:59] krater commented on #53
Copy of #35

[2019-04-18 12:59] krater commented on #53
Ticket splitted for HANFUN and LegacyDECT, reopen.

[2019-04-18 13:01] krater commented on #50
Copy of #47

[2019-04-18 13:01] #50 closed, assigned to nobody

[2019-04-18 13:01] krater commented on #47
When on the FP more than one HAN FUN device is registered, it's not possible for the application that is using the API to differentiate between acknowledge messages from a actor and action messages from the sensor. It's too not possible to differentiate from which sensor or actor a message is received.

Detected in: V1.0.3
Tested with DSPG, on Dialog we received none of the messages correct(tbd:cr

[2019-04-18 13:04] krater commented on #20
Used HANFUN firmware, LegacyDECT firmware currently untested. Ticket closed.

[2019-04-18 13:04] #20 closed, assigned to p-weber

[2019-04-18 13:31] p-weber commented on #55
Fixed by #30

[2019-04-25 14:12] p-weber opened #67 "HANFUN: Deregistration problem of a PP at DSPG FP"
The deregistration of a PP doesn't work correctly. The device is still registered at the DECT module.

[2019-04-26 14:56] p-weber commented on #62
I have tested it and can't detect any problem in the current version.
Fixed by #30.

[2019-04-26 15:46] p-weber commented on #67
Fixed by 7ba12e81b287ef4fd3a8610132df7b330468ec6e

[2019-04-26 15:48] p-weber commented on #63
I can not reproduce this problem. It works on my side.

[2019-04-26 15:49] p-weber commented on #66
I can not reproduce this problem. It works on my side.

[2019-05-09 21:13] krater commented on #33
On DSPG, setting the PIN is working only sometimes.
Try this:
1) Start server
2) Start Client
3) Set PIN to 1111
4) Start Registration
5) Try to register Device with PIN 1111
-> Fail
6) Try PIN with old PIN (i.e. 0000)
-> Works

Client Logs:
pi@raspberrypi:~/nachtest $ ./fp_legacy_client_rpi
[INFO] bool HF::Application::Handle(std::string)

************************************************
  STACKF

[2019-05-09 21:21] krater commented on #34
Fixed in develop, de893b8c47f7631ab18202bd020551b8c1626300
Please close ticket.

[2019-05-09 21:29] krater commented on #33
Additional, after restart of server(DSPG and DIALOG) the PIN is again the default value(0000).

[2019-05-09 21:50] krater commented on #42
After deregistering a handset, it's not possible to setup a call.
[42_client.txt](https://github.com/opend-connect/openD/files/3164125/42_client.txt)
[42_server.txt](https://github.com/opend-connect/openD/files/3164126/42_server.txt)

[2019-05-09 21:53] krater commented on #57
On DSPG, after deregistering a handset, it's not possible to setup a call

[42_client.txt](https://github.com/opend-connect/openD/files/3164133/42_client.txt)
[42_server.txt](https://github.com/opend-connect/openD/files/3164134/42_server.txt)

[2019-05-09 22:01] krater commented on #43
Fixed in develop, de893b8c47f7631ab18202bd020551b8c1626300
Please close ticket

[2019-05-09 22:26] krater commented on #53
Fixed in develop, de893b8c47f7631ab18202bd020551b8c1626300
Please close ticket

[2019-05-09 22:28] krater commented on #42
On DSPG, after deregistering a handset, it's not possible to setup a call on any other handset. Looks like a state machine fuckup.

[42_client.txt](https://github.com/opend-connect/openD/files/3164225/42_client.txt)
[42_server.txt](https://github.com/opend-connect/openD/files/3164227/42_server.txt)

[2019-05-09 23:29] krater commented on #49
Fixed in develop, de893b8c47f7631ab18202bd020551b8c1626300
Please close ticket

[2019-05-09 23:31] ihspeer commented on #62
fixed in develop, de893b8c47f7631ab18202bd020551b8c1626300

[2019-05-09 23:34] krater commented on #52
Fixed in develop, de893b8c47f7631ab18202bd020551b8c1626300
Please close ticket

[2019-05-09 23:36] krater commented on #51
Fixed in develop, de893b8c47f7631ab18202bd020551b8c1626300
Please close ticket

[2019-05-09 23:51] krater commented on #61
Fixed in develop, de893b8c47f7631ab18202bd020551b8c1626300
Please close ticket

[2019-05-10 00:01] krater commented on #67
Fixed in develop, de893b8c47f7631ab18202bd020551b8c1626300
Please close ticket

[2019-05-10 00:02] krater commented on #62
Please close ticket

[2019-05-10 00:02] krater commented on #55
Fixed in develop, de893b8c47f7631ab18202bd020551b8c1626300
Please close ticket

[2019-05-10 00:11] krater opened #68 "LegacyDECT: Incoming call has everytime ID 0 on DSPG"
1) Register 2 or more Handsets
2) Setup call from handset
3) Incoming call ID is 0

-> It's not possible to differentiate from which PP the call is coming.

Tested on DSPG FP with Handset 'T Com Sinus 702K' and 'Siedle Scope2'.
Branch develop, de893b8c47f7631ab18202bd020551b8c1626300

[2019-05-10 00:17] ihspeer opened #69 "HANFUN: fp_hanfun_server_rpi crashes when signaling SIGINT"
When fp_hanfun_server_rpi is aborted via SIGINT (pressing control+c), program will exit which is fine.
After that it might happen that the hanfun.json file is corrupted afterwards. This will lead to a SegFault when restarting fp_hanfun_server_rpi.
_**Application configuration restored !
[TRACE] bool HF::Application::Handle(std::string)
Speicherzugriffsfehler**_

Deleting the corrupted hanfun.json

[2019-05-10 00:25] ihspeer commented on #63
can confirm that events sendet from a dialog pp switch to dialog fp will be indicated in fp_client_hanfun_rpi.
but events sendet from a dspg pp switch to dialog fp will ***not*** be indicated in fp_client_hanfun_rpi

[2019-05-10 00:32] ihspeer commented on #63
events from dspg pp switch are received in fp_server_hanfun_rpi debug messages, but not forwarded to the client application. pfa the logfile:
[received_event_debug_msg.log](https://github.com/opend-connect/openD/files/3164450/received_event_debug_msg.log)

[2019-05-10 00:33] ihspeer commented on #69
Addition: the malloc() memory corruption might happen when a new device is registered after restarting the server.

[2019-05-10 00:51] ihspeer commented on #47
tested:
dialog pp switch <> dialog fp (WORKING)
dspg pp switch <> dspg fp (WORKING)
dspg pp switch <> dialog fp (not working) --> receiving of event is shown in fp_server_hanfun_rpi; but no message is forwarded to fp_client_hanfun_rpi

tested with develop branch, commit: de893b8c47f7631ab18202bd020551b8c1626300

[2019-05-10 00:54] ihspeer commented on #66
tested:
dialog pp switch <> dialog fp (WORKING)
dialog pp switch <> dspg fp (not working)

tested on develop branch; commit: de893b8c47f7631ab18202bd020551b8c1626300

[2019-05-10 01:05] krater commented on #47
In light of the two tested FP codepaths we think this ticket should be fixed in develop, de893b8c47f7631ab18202bd020551b8c1626300.
Please close.

[2019-05-10 14:28] #67 closed, assigned to p-weber

[2019-05-10 14:28] #62 closed, assigned to p-weber

[2019-05-10 14:29] #61 closed, assigned to nobody

[2019-05-10 14:29] #55 closed, assigned to p-weber

[2019-05-10 14:29] #53 closed, assigned to p-weber

[2019-05-10 14:29] #52 closed, assigned to p-weber

[2019-05-10 14:30] #51 closed, assigned to p-weber

[2019-05-10 14:30] #49 closed, assigned to p-weber

[2019-05-10 14:31] #43 closed, assigned to p-weber

[2019-05-10 14:32] #34 closed, assigned to p-weber

[2019-05-10 15:14] p-weber commented on #69
Thank you for your feedback.
For a more detailed analysis, we need to know which PP device and PP application did you use (DSPG or Dialog / SimpleSwitch or SimpleLight)?
br Patrick

[2019-05-10 15:32] krater commented on #33
Please remove label 'fixed'

[2019-05-10 15:32] krater commented on #42
Please remove label 'fixed'

[2019-05-10 16:13] p-weber commented on #33
We can reproduce the issue and we will fix it with the version 1.0.7.

[2019-05-10 16:14] p-weber commented on #42
We can reproduce the issue and we will fix it with the version 1.0.7.

[2019-05-13 10:02] p-weber commented on #68
We can reproduce the issue and we will fix it with the version 1.0.7.

[2019-05-13 10:16] ihspeer commented on #69
AFAIK, I used dialog PP with the simpleswitch example.

BR,
Ingo

[2019-05-14 14:36] #47 closed, assigned to p-weber

[2019-05-28 00:05] krater opened #70 "HANFUN: Debug messages of openD are spamming the console"
It's not possible to build a application directly linked with openD that communicates through the console with the user because debug messages are filling the screen.

This could happen too in LegacyDECT.
Found in 1.0.7

[2019-06-07 09:38] #33 closed, assigned to p-weber

[2019-06-07 09:38] #42 closed, assigned to p-weber

[2019-06-07 09:38] #68 closed, assigned to p-weber

[2019-06-07 09:38] #69 closed, assigned to p-weber

[2019-06-14 11:31] p-weber commented on #70
Please note an application on the fixed part side should always be a stand-alone application connected via UDP to the "fp_hanfun_server_rpi" or "fp_legacy_server_rpi".

[2019-08-29 11:40] #44 closed, assigned to nobody

[2019-08-29 11:41] #40 closed, assigned to nobody

[2019-08-29 11:42] #39 closed, assigned to nobody

[2019-08-29 11:42] #37 closed, assigned to nobody

[2019-08-29 11:43] #25 closed, assigned to nobody

[2019-08-29 11:44] barelsky commented on #19
Dialog-Dialog has been verified and shuld be ok, can be closed from DIalog perspective

[2019-08-29 11:45] barelsky commented on #18
From DIalog perspective this is ok and can be closed

[2019-08-29 11:47] barelsky commented on #70
So can a user workaround this issue or not?

[2019-08-29 11:48] barelsky commented on #60
Has there been a change from this perspective, or will it still be the same in 1.0.7?

[2019-08-29 11:48] barelsky commented on #58
Has this been changed in 1.0.7. or is the sameas in 1.0.3?

[2019-08-29 11:49] barelsky commented on #29
Has there been an improvement on this perspective in 1.0.7? Please comment.

[2019-08-31 01:35] krater commented on #60
I don't think that anything has changed in this part. But if you want to test it, just pull out your DECT-Hardware from the Raspberry and start the application. When the application hangs or don't spit out a error message about the missing board, the bug still exists.

[2019-08-31 01:46] krater commented on #58
Just start the application and use as parameter a non-existent serial port. When no error occurs, the bug still exists. I don't think that there are any changes.

[2019-09-05 07:52] svdpuranik commented on #36
Hello,
I have done an analysis of this issue and a document pertaining to that is attached to this comment.
[Analysis_on_HANFUN_FP.pdf](https://github.com/opend-connect/openD/files/3578073/Analysis_on_HANFUN_FP.pdf)

[2019-09-10 07:30] svdpuranik commented on #38
This issue is still present. The registration is lost on Dialog HANFUN PP but Dialog HANFUN FP has it still registered. An analysis was carried out in this respect. I have attached a document regarding that with this comment.
[Analysis_of_HANFUN _PP.pdf](https://github.com/opend-connect/openD/files/3594324/Analysis_of_HANFUN._PP.pdf)

[2019-09-17 14:52] svdpuranik commented on #31
Still present in 1.0.7

[2019-09-20 12:34] #18 closed, assigned to nobody

[2019-09-20 12:45] p-weber commented on #29
No, there is no update about this in 1.0.7.

[2019-09-20 13:01] p-weber commented on #36
Thank you for the report. With which version did you create your analysis?

[2019-09-20 13:01] p-weber commented on #38
Thank you for the report. With which version did you create your analysis?

[2019-09-20 13:06] #19 closed, assigned to p-weber

[2019-09-27 09:06] svdpuranik commented on #36
1.0.7

[2019-09-27 09:07] svdpuranik commented on #38
1.0.7

[2019-12-06 09:50] barelsky commented on #38
Issue verified again (both by Stackforce and Dialog) and found to be correctly implemented

[2019-12-06 09:50] #38 closed, assigned to nobody

[2019-12-06 09:51] barelsky commented on #36
Issue verified again both by Dialog and Stackforce and shows a correct implementation

[2019-12-06 09:51] #36 closed, assigned to nobody

[2021-08-12 22:07] ogogon opened #73 "Workable solution"
I'm sorry if I'm asking an inappropriate question, but I don't know where else to ask it.

If I understand correctly, then openD is a framework for accessing DECT. It is very good that there is a solution for this segment.

Is there a complete open set that allows me to make my own DECT base and integrate it with an existing telephone switch.
I remember OsmocomDECT existed, but this package uses s

[2021-08-13 06:30] DannyHartnett commented on #73
Hi there,

Unfortunately openD has been discontinued. I believe the SW stack may still be available on GitHub..

If you want to get some more up to date hardware, please visit these 2 chip  companies (possibly via reps). Let me know if you need further help-.

 <https://www.dspg.com/developers/> Developers – DSP Group

 <https://www.dialog-semiconductor.com/products/dect#tab-field_pl_tab_overview>